all:

  ya_multipage_plugin:
    session:
      session_name:   ya_multipage
      user_attribute: ya_multipage
      timeout:        3600
      limit:          5
      storage:
        class: yaMultipageCacheSessionStorage
        param:
          cache:
            class: sfFileCache
            param:
              cache_dir: %SF_ROOT_DIR%/tmp/multipage
              lifetime:  86400
    handler:
      page_name_param:  ya_multipage_page
      walk_route:       ya_multipage_walk
      auth_page:        { class: yaMultipageAuthPage, name: auth, title: Authentication, brief: Auth }
      pages:
        - { class: yaMultipageStartPage, name: start, title: Start, brief: S }
        - { class: yaMultipageTest1Page, name: test1, title: Test1, brief: T1 }
        - { class: yaMultipageTest2Page, name: test2, title: Test2, brief: T2, is_secure: true }
        - { class: yaMultipageTest3Page, name: test3, title: Test3, brief: T3 }
    action:
      start_route:  ya_multipage_start
      final_route:  ya_multipage_final
